HOST=127.0.0.1
PORT=8080

DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=
DATABASE_NAME=postgres

# For sqlx migrations
DATABASE_URL=postgres://postgres@127.0.0.1:5432/postgres

QDRANT_URL=http://127.0.0.1:6334
QDRANT_API_KEY=
QDRANT_SEARCH_THRESHOLD=0.25
QDRANT_SEARCH_LIMIT=15
QDRANT_COLLECTION_NAME_PREFIX=blog

OIDC_ISSUER_URL=https://xxx
OIDC_CLIENT_ID=xxx
OIDC_CLIENT_SECRET=xxx
OIDC_REDIRECT_URL=http://localhost:8080/auth/callback

REDIS_URL=redis://127.0.0.1:6379
REDIS_SESSION_PREFIX=session
REDIS_SEARCH_QUERY_EMBEDDING_PREFIX=search:query_embedding

SESSION_KEY='openssl rand -hex 64'

STORAGE_PATH=static
EMBEDDING_CACHE_DIR=embedding_cache

SENTRY_DSN=
