# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.30.0-standalone-strict/all.json

apiVersion: v1
kind: Secret
metadata:
  name: __NAME__-secret
type: Opaque
data:
  DATABASE_PASSWORD: ''
  QDRANT_API_KEY: ''
  SESSION_KEY: ''
  OIDC_CLIENT_SECRET: ''
